* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

h2.h2 {
    padding: 10px;
}

.flex_column_container {
    display: flex;
    flex-direction: column;
    /*justify-content: space-between; */
    align-items: center;
}

.flex_row_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* header */

header {
    width: 100%;
    height: 100vh;
    padding: 10px;
    background-image: url('https://cdn.pixabay.com/photo/2023/04/19/19/11/lake-7938396_1280.jpg');
    background-repeat: no-repeat;
    background-position: 70% 17%;
    background-size: cover;
    background-attachment: fixed;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header a,
section.faq a {
    background-color: #f3f2f2;
    border: 1px solid rgb(255, 255, 255);
    color: #435663;
    padding: 10px 20px;
    text-decoration: none;
    margin-bottom: 20px;
    border: none;
}

header a:hover,
section.faq a:hover {
    background-color: #fbf2c7;
    border: 1px solid rgb(255, 255, 255);
    color: #394e5c;
    transition: 0.3s;
    border: none;
}

section.weather_section {
    padding: 10px;
    background-color: #e4e3e3;
}

div.weather_info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

div.weather_info .temp {
    font-weight: bold;
    font-size: 40px;
}

div.rest_weather_info {
    font-size: 13px;
    background-size: cover;
    width: 100%;
    margin: 10px 10px 10px 10px;
    border-radius: 20px;
}

div.sun {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


/* sekcja miejsc do odwiedzenia */

section.places_to_see {
    padding: 10px;
    background-color: #f3f2f2;
    color: #435663;    
}

div.single_place {
    margin-bottom: 20px;
}

div.single_place img {
    display: inline-block;
    width: 100%;
}

div.single_place a {
    background-color: #e9e9e9;
    border: 1px solid red;
    color: #435663;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}

div.single_place a:hover {
    background-color: #fff;
    border: 1px solid red;
    color: red;
    transition: 0.3s;

}

/* komentzrze */

section.comments {
    background-image: url('https://i.pinimg.com/736x/1b/f3/8e/1bf38e1b6c01b715f99cf8af1d96ced5.jpg');
    background-repeat: no-repeat;
    background-position: 70% 17%;
    background-size: cover;
    background-attachment: fixed;
    color: #ebe3e3;
    padding: 10px;
}

section.comments .single_comment {
    background-color: #00000061;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

section.comments .single_comment p:first-child {
    line-height: 1.3;
    text-align: center;
}

section.comments .single_comment p:last-child {
    font-weight: bold;
    align-self: flex-end;
    margin-top: 10px;
}

/* sekcja newslettera */

section.newsletter {
    padding: 20px;
}

section.newsletter h2 {
    text-transform: uppercase;
    margin-bottom: 10px;
}

section.newsletter p {
    padding: 10px 0px;
}

section.newsletter form button {
    background-color: #f3f2f2;
    border: 1px solid #435663;
    color: #435663;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
    width: 100%;
    margin-top: 10px;
    border: none;
}

section.newsletter form input {
    background-color: #f3f2f2;
    border: 1px solid #435663;
    color: rgb(0, 0, 0);
    padding: 10px 0 10px 10px;
    text-decoration: none;
    border-radius: 20px;
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: none;
}

section.newsletter form button:hover {
    background-color: #fbf2c7 border 1px solid rgb(255, 255, 255);
    color: #2c3a43;
    transition: 0.3s;
    border: none;
}


/* sekcja kontaktu */

.section.contact {
    padding: 10px;
}

.single_contact {
    margin-bottom: 20px;
}

.single_contact:last-child {
    margin-bottom: 0px;
}

section.contact i {
    font-size: 50px;
    color: #435663;
    border: 5px solid #ecebeb;
    padding: 10px;
    border-radius: 20%;
    width: 80px;
    height: 80px;
    text-align: center;
    margin: 2px;
}

/* sekcja faq */
section.faq {
    padding: 10px;
}

div.accordion {
    width: 100%;
    margin-top: 5px;
}

div.box {
    margin: 10px 5px;
    border-top: 1px solid black;
}

div.box:last-child {
    margin: 10px 5px;
    border-bottom: 1px solid black;
}

button.accordion_button {
    width: 100%;
    text-align: left;
    padding: 10px 0;
    font-size: 14px;
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

button.accordion_button:hover {
    cursor: pointer;
}

.fa-chevron-down {
    transition: 0.3s;
}

.info {
    display: none;
    transition: 0.3s;
}

.active_accordion_box {
    display: block;
}

.active_accordion_btn {
    transform: rotate(180deg);
}

/* sekcja mapy */
section.map {
    padding: 10px;
}

section.map iframe {
    width: 100%;
}

/* footer */
footer {
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 5px;
    background-color: #ffffff;
    border-radius: 20px;
}

div.social_media {
    margin-bottom: 20px;
}

div.autor {
    margin-top: 30px solid black;
    margin-bottom: 30px solid black ;
}

.flex_column {
    width: 100%;
}

.text_miejsca {
    padding: 10px;
    text-align: center;
    font-size: 16px;
    background-color: #e2e2e2;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
}

.tekst_pop {
    font-size: 20px;
    color: f3f2f2;
    font-weight: bold;
    margin: 5px 5px 5px 5px;
}

.simple-holidays {
    background: white;
    padding: 30px 20px;
    margin: 30px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.simple-holidays h2 {
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

.simple-holidays > p {
    color: #666;
    text-align: center;
    margin-bottom: 20px;
}

#holidaysBox {
    max-width: 600px;
    margin: 0 auto;
}

.holiday-simple {
    background: #f9f9f9;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
}

.holiday-date-simple {
    color: #2c3e50;
    font-weight: bold;
    margin-bottom: 5px;
}

.holiday-name-simple {
    color: #333;
    font-size: 18px;
    margin-bottom: 5px;
}

.holiday-desc-simple {
    color: #666;
    font-size: 14px;
}