* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

h2.h2 {
    padding: 10px;
}

.flex_column_container {
    display: flex;
    flex-direction: column;
    /*justify-content: space-between; */
    align-items: center;
}

.flex_row_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* header */

header {
    width: 100%;
    height: 100vh;
    padding: 10px;
    background-image: url('https://cdn.pixabay.com/photo/2017/03/02/15/20/saganoseki-2111568_1280.jpg');
    background-repeat: no-repeat;
    background-position: 70% 17%;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header a,
section.faq a {
    background-color: #FFF8D4;
    border: 1px solid red;
    color: #435663;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
    margin-bottom: 20px;
    border: none;
}

header a:hover,
section.faq a:hover {
    background-color: #fff;
    border: 1px solid red;
    color: red;
    transition: 0.3s;
    border: none;
}

section.weather_section {
    padding: 10px;
}

div.weather_info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

div.weather_info .temp {
    font-weight: bold;
    font-size: 40px;
}

div.sun {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


/* sekcja miejsc do odwiedzenia */

section.places_to_see {
    padding: 10px;
}

div.single_place {
    margin-bottom: 20px;
}

div.single_place img {
    display: inline-block;
    width: 100%;
}

div.single_place a {
    background-color: #FFF8D4;
    border: 1px solid red;
    color: #435663;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
    border: none;
}

div.single_place a:hover {
    background-color: #fff;
    border: 1px solid red;
    color: red;
    transition: 0.3s;

}

/* komentzrze */

section.comments {
    background-image: url('https://cdn.pixabay.com/photo/2017/03/02/15/20/saganoseki-2111568_1280.jpg');
    background-repeat: no-repeat;
    background-position: 70% 17%;
    background-size: cover;
    background-attachment: fixed;
    color: #ebe3e3;
    padding: 10px;
}

section.comments .single_comment {
    background-color: #ffffff36;
    padding: 20px;
    margin-bottom: 20px;
}

section.comments .single_comment p:first-child {
    line-height: 1.3;
    text-align: center;
}

section.comments .single_comment p:last-child {
    font-weight: bold;
    align-self: flex-end;
    margin-top: 10px;
}

/* sekcja newslettera */

section.newsletter {
    background-color: #A3B087;
    padding: 20px;
}

section.newsletter h2 {
    text-transform: uppercase;
    margin-bottom: 10px;
}

section.newsletter p {
    padding: 10px 0px;
}

section.newsletter form button {
    background-color: #FFF8D4;
    border: 1px solid #435663;
    color: #435663;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
    width: 100%;
    margin-top: 10px;
    border: none;
}

section.newsletter form input {
    background-color: #FFF8D4;
    border: 1px solid #435663;
    color: white;
    padding: 10px 0 10px 10px;
    text-decoration: none;
    border-radius: 20px;
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: none;
}

section.newsletter form button:hover {
    background-color: #ddd7ba border 1px solid red;
    color: #435663;
    transition: 0.3s;
    border: none;
}


/* sekcja kontaktu */

.section.contact {
    padding: 10px;
}

.single_contact {
    margin-bottom: 20px;
}

.single_contact:last-child {
    margin-bottom: 0px;
}

section.contact i {
    font-size: 50px;
    color: #A3B087;
    border: 5px solid #FFF8D4;
    padding: 10px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    text-align: center;
    margin: 2px;
}

/* sekcja faq */
section.faq {
    padding: 10px;
}

div.accordion {
    width: 100%;
    margin-top: 5px;
}

div.box {
    margin: 10px 5px;
    border-top: 1px solid black;
}

div.box:last-child {
    margin: 10px 5px;
    border-bottom: 1px solid black;
}

button.accordion_button {
    width: 100%;
    text-align: left;
    padding: 10px 0;
    font-size: 14px;
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

button.accordion_button:hover {
    cursor: pointer;
}

.fa-chevron-down {
    transition: 0.3s;
}

.info {
    display: none;
    transition: 0.3s;
}

.active_accordion_box {
    display: block;
}

.active_accordion_btn {
    transform: rotate(180deg);
}

/* sekcja mapy */
section.map {
    padding: 10px;
}

section.map iframe {
    width: 100%;
}

/* footer */
footer {
    text-align: center;
    background-color: black;
    color: white
}

div.social_media {
    border-bottom: 1px solid purple;
    margin-bottom: 20px;
}

div.autor {
    margin-top: 30px solid purple;
}